table {
    color: brown;
    background-color: blanchedalmond;
    border: 3px blanchedalmond inset;
    border-collapse: collapse;
}

th {
    background-color: rgb(145, 189, 145);
    padding: 5px;
}

.sub-title {
    background-color: rgb(244, 186, 121);
    text-align: center;
    border: blanchedalmond 2px solid;
    border-style: inset;
    padding: 5px;
}

.size {
    background-color: rgb(240, 240, 162);
    padding: 5px;
    border: blanchedalmond 2px solid;
    border-style: inset;
    text-align: center;
}

.celda {
    border: blanchedalmond 2px solid;
    border-style: inset;
    text-align: center;
    padding: 5px;
}